<!doctype html>
<html>

<head>
    <title>Cornell Notes</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Log Out</a>
        </div>

        <div class="row">
            <!-- LOCAL INFORMATION -->
            <div>
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>
                    <% if (user.local.email) { %>
                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>

                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                        <% } else { %>
                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                            <% } %>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Notes</h3>
                <% if (user.local.email) { %>
                    <form action="/notes" method="POST">
                        <input type="text" placeholder="Question" name="question">
                        <button type="submit">Add</button>
                    </form>
                <% } %>

                <ul class="notes">
                    <% for (let i = 0; i < notes.length; i++) { %>
                        <li class="note">
                            <span class="question"><%= notes[i].question %></span>
                            <% if (notes[i].answer) { %>
                                <span class="answer"><%= notes[i].answer %></span>
                            <% } else { %>
                                <form class="answer-form">
                                    <textarea class="answer" placeholder="Answer"></textarea>
                                    <button class="answer-btn" type="submit">Add</button>
                                </form>
                            <% } %>
                            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </li>
                    <% } %>
                </ul>
            </div>
            
        </div>

    </div>
    
    <script src="main.js"></script>
</body>

</html>